
.H1{
    color: brown;
    background-color: blue;
}
.YAO{
    color: blue;
    background-color:mediumturquoise;
}
.A{
    color: blue;
    background-color: mediumturquoise;
}
.M{
    color: blue;
    background-color: mediumturquoise;
}
.G{
    color: blue;
    background-color: mediumturquoise;
}
.S{
    color: blue;
    background-color: mediumturquoise;
}
.K{
    color: blue;
    background-color: mediumturquoise;
}
.A{
    color: blue;
    background-color: mediumturquoise;
}
.F{
    color: blue;
    background-color: mediumturquoise;
}
.MI{
    color: blue;
    background-color: mediumturquoise;
}
.E{
    color: blue;
    background-color: mediumturquoise;
}
.FA{
    color: blue;
    background-color: mediumturquoise;
}
.J{
    color: blue;
    background-color: mediumturquoise;
}
